<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table>
      <tr>
        <td>
          <a href="/findee">For Findee</a>
        </td>
        <td>
          <a href="/finder">For Finder</a>
        </td>
      </tr>

    </table>
  </body>
</html>
